= simple_form_for @holiday, html: {multipart: true} do |f|
  - if @holiday.errors.any?
    #errors
      %p
        = pluralize(@holiday.errors.count, "Error")
        Prevented this application from sending

  .panel-body

    = f.input :reason
    = f.input :description
    = f.select :holiday_type,  Holiday::HOLIDAY_TYPES

    .row
      .col-md-12
      = f.simple_fields_for :days do |day|
        = render 'day_fields', f: day
      = link_to_add_association 'Add Date', f, :days, class: "btn btn-default add-button"


  = f.button :submit, class: "btn btn-primary"

