<p id="notice"><%= notice %></p>

<%= render 'show' %>

<% if current_user_holiday? %>
  <%= link_to 'Edit', edit_holiday_path(@holiday) %> |
  <%= link_to 'Back', holidays_path %>
<% end %>

<% if current_ttf_holiday? %>

  <div id="feedback">

    <% if get_holiday_status == 'pending' %>
        <%= form_tag(approve_holiday_path(@holiday), method: :put) do |f|%>
            <%= label_tag "Feedback" %><br/>
            <%= text_area_tag :feedback %><br/>
            <%= submit_tag "Accept", class: "btn btn-success", value: "accept", name: "commit" %>
            <%= submit_tag "Reject", class: "btn btn-danger", value: "reject", name: "commit" %>
        <% end %>
    <% end %>

    <% if get_holiday_status == 'approved' %>
        <%= form_tag(reject_holiday_path(@holiday), method: :put) do |f|%>
            <%= label_tag "Feedback" %><br/>
            <%= text_area_tag :feedback %><br/>
            <%= submit_tag "Cancel Approval", class: "btn btn-danger" %>
        <% end %>
    <% end %>


    <% if get_holiday_status == 'rejected' %>
      <%= form_tag(accept_holiday_path(@holiday), method: :put) do |f|%>
        <%= label_tag "Feedback" %><br/>
        <%= text_area_tag :feedback %><br/>
        <%= submit_tag "Overturn Rejection", class: "btn btn-success" %>
      <% end %>
    <% end %>

  </div>

<% end %>