<h2>Casual Leave Statistics</h2>
<table class="table table-bordered table-striped">

  <tbody class="holiday-index">
  <tbody class="holiday-index">
  <tr>
    <td>Yearly Due</td>
    <td><%= @yearly_casual_leave %> Days </td>
  </tr>
  <tr>
    <td>Carried Forward</td>
    <td><%= @stat.carried_leave %></td>
  </tr>
  <tr>
    <td>Total Due</td>
    <td><%= @gained_casual_leave %></td>
  </tr>
  <tr>
    <td>Total Consumed</td>
    <td><%= @stat.consumed_casual_leave %></td>
  </tr>
  <tr>
    <td>Balanace</td>
    <td><%= @balance_casual_leave %></td>
  </tr>
  </tbody>
  </tbody>
</table>


<h2>Sick Leave Statistics</h2>
<table class="table table-bordered table-striped">

  <tbody class="holiday-index">
      <tr>
        <td>Yearly Due</td>
        <td><%= @yearly_sick_leave %> Days </td>
      </tr>
      <tr>
        <td>Consumed</td>
        <td><%= @stat.consumed_sick_leave %></td>
      </tr>
      <tr>
        <td>Balanace</td>
        <td><%= @balance_sick_leave %></td>
      </tr>
  </tbody>
</table>