!!! 5
%html
%head
  %title PracticeLeaveTracker
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{rel: "stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}
  %link{href:'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700', rel:'stylesheet', type:'text/css'}
  %link{rel: "stylesheet", href:"styles/kendo.common.min.css"}
  %link{rel: "stylesheet", href:"styles/kendo.default.min.css"}
  %script{src: "js/jquery.min.js"}
  %script{src: "js/kendo.all.min.js"}
  = csrf_meta_tags

%body
  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert"

    = yield